main{
    width: 100vw;
    height: 100vh;
    background: #517D5D;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeMainArticle{
    display: flex;
    margin: 2vh 4cqmin;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homeMainArticleText{
    width: 50%;
    color: black;
}
.homeMainArticleText h1{
    margin-bottom: 1cqmin;
}
.homeMainArticleText p{
    text-indent: 3cqmin;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeMainArticleCarrossel{
    background-color: aqua;
    width: 50%;
    aspect-ratio: 16/9;
}
