*{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

  body {
    background-color: #517D5D;
  }

/*Header*/
header{
  height: 30vh;
  width: 100%;
  background-image: url(img/back_header.jpeg) ;
  min-height: 150px;
}

/* headerBanner */
header .headerBanner{
  width: 100%;
  height: 24vh;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.175);
  backdrop-filter: blur(2px);
}
header .headerBanner .headerBannerImg{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .headerBanner .headerBannerImg img{
  width: 15vw;
  min-width: 150px;
}
/* headerBanner - End */

/* nav */
header nav{
  height:6vh;
  min-height: 31px;
  background-color: rgba(0, 0, 0, 0.51);
  color: white;
  backdrop-filter: blur(2px);
}
header nav .navMargin{
  height:6vh;
  min-height: 31px;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .navTitles{
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
header nav a{
  color: rgb(207, 207, 207);
}
header nav a:hover{
  color: white;
  text-decoration: none;
}
header nav form{
  min-height: 20px;
  font-size: 1.5cqmin;
  width: 25vw;
  height: 4vh;
  display: flex;
  justify-content: space-between;
}
header nav form input{
  min-height: 20px;
  width: 17vw;
  height: 4vh;
  padding: 0 1vw;
  border-radius: 10px;
  border: 1px green solid;
  outline: 0;
  background-color: rgb(213, 213, 213);
}
header nav form input:focus{
  outline: 2px solid;
  background-color: rgb(242, 242, 242);
}
header nav form button{
  min-height: 20px;
  background-color: rgb(34, 144, 34);
  border: 1px rgb(34, 144, 34) solid;
  border-radius: 5px;
  height: 4vh;
  width: 5vw;
  min-width: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav form button:hover{
  background-color: rgba(255, 255, 255, 0);
}

/* Nav Responsive */
header nav .navToolbar{
  display: none;
}
header nav .navToolbarScreen{
  display: none;
  position:absolute;
  top: -24vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(img/back_header.jpeg);
}
header nav .navToolbarScreen div{
  background-color: rgba(0, 0, 0, 0.51);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navToolbarScreen div button{
  position: relative;
  top: -30vh;
}
header nav .navToolbarScreen div span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 50vh;
  font-size: 5vh;
}
header nav form button img{
  display: none;
}

@media (max-width:950px){
  header nav .navTitles{
    width: 60vw;
  }
  header nav form{
    width: 25vw;
  }
  header nav form input{
    width: 15vw;
  }
}
@media (max-width:700px){
  header nav .navTitles{
    display: none;
  }
  header nav .navToolbar{
    display: block;
  }
  header nav .navToolbar button{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
  }
  header nav .navToolbar img{
    width: 6cqmin;
    min-width: 20px;
  }
  header nav form{
    width: 50vw;
    font-size: 10px;
  }
  header nav form input{
    width: 80%;
  }
  header nav form button{
    min-width: 0;
    width: 13%;
  }
  header nav form button span{
    display: none;
  }
  header nav form button img{
    display: block;
    width: 4cqmin;
  }
}
@media (max-width:250px){
  header nav form{
    width: 70vw;
  }
}
@media (max-height:500px){
  header nav form{
    font-size: 10px;
  }
}
/* Nav Responsive - End */

/* nav - End */

/* Header - End */


/*main*/
main{
  overflow-x: hidden;
  overflow-y: hidden;
}
  /*Objetivo do Projeto*/

.artigo1{
    width: 50%; 
    border: 1px solid black; 
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
  
}

/*carrousel*/

.artigo2{
    width: 50%;
    float: right;
    margin-top: -36.9%;
    left: -100px;
    
}


#carouselExampleFade{
    border:1px solid black;

   
}

/*galeria*/

.artigo3{
    width: 60%;
    margin-left: 35px;
position: relative;
top: -120px;
}

.container {
    float: left;
    width: 60%;
    margin: 2rem auto; 
  }
  
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
  }
  
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  

.gallery__item--1 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }


  .texto_XP{
    margin-top: 100px;
color: white;
    
  }



  /* Fim main*/


  /*footer*/

  footer{
    background-color: white;
    margin-top: 300px;
    height: 100px;
  }
  

  footer nav ul li a {
    float:left;
    list-style-type:none ;

  }